/* Шрифты */
@font-face{
    src: url(../fonts/Montserrat-Medium.ttf);
    font-family:'Montserrat-Medium';
}
@font-face{
    src: url(../fonts/NunitoSans-Regular.ttf);
    font-family:'NuitoSans-Regular';
}
h1,h2,h3{
    font-family:'Montserrat-Medium';
}
html{
    font-family:'NuitoSans-Regular';
}
/* Общие */
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing:border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
/* Голова */
.header-nav-link:hover{
    color: #10C9C3;
}
.header{
    background-color: #e9e9e9;
}
.header-block{
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 45px;
}
.header-nav{
    display: flex;
    text-transform: uppercase;
}
.header-nav-link{
    color: #000;
}
.header-nav-link:not(:last-child){
    margin-right: 30px;
}
/* promo */
.promo{
    margin-top: -120px;
    padding-top: 200px;
    padding-bottom: 50px;
    background: #e9e9e9 url(../img/bg-hero.jpg) no-repeat left / cover;
    background-position: 0 0;
}

.promo-block{
    padding-top: 90px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 130px;
}
.promo-text-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.title-block{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 30px;
}
.title-text{
    margin-bottom: 40px;
    max-width: 480px;
    font-size: 18px;
    color: #787878;
}
.button-primary{
    color: #fff;
    background-color: #10c9c3;
    width: 180px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
}
/* о нас */
.about-block{
    padding-top: 90px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* skills */
.skills-block{
    display: flex;
}
.skills-img{
    background-color: #E6E6E6;
}
.skill-img{
    width: 100%;
    height: 100%;
}
.skills-box{
    display: flex;
    flex-direction: column;
    padding-top: 165px;
    padding-bottom: 165px;
    flex-basis: 50%;
    background-color: #F8F9F9;
    padding-left: 40px;
}
.progress-line {
    border-radius: 10px;
    border: 0;
    height: 5px;
    width: 500px;
}

.progress-line-1{
    background: linear-gradient(to right, #10c9c3 75%,  #d8d8d8 35%);
}
.progress-line-2 {
    background: linear-gradient(to right, #10c9c3 90%,  #d8d8d8 10%);
}
.progress-line-3{
    background: linear-gradient(to right, #10c9c3 65%,  #d8d8d8 45%);
}
.skills-card{
    display: flex;
    flex-direction: column;
}
.progress-line{
    margin-top: 15px;
    margin-bottom: 15px;
}
/* stats */
.stats{
    background-color: #10c9c3;
}
.stats-block{
    display: flex;
    justify-content: space-between;
}
.stats-img{
    width: 40px;
    height: 40px;
    margin-right: 25px;
}
.stats-box{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
}
.stats-item{
    color: #fff;
}
.stats-title{
    color: #fff;
    font-size: 18px;
}
.stats-text{
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}
/* gallery */
.gallery{
    background-color: #fff;
}
.gallery-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gl-img{
    width: 100%;
    height: 100%;
}
.gallery-gray-box{
    background: #838383;
    position: relative;
}
.gallery-white-box{
    background: #DDDDDD;
    position: relative;
}   
.gallery-box:hover::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:#141414 url(../img/look-white.svg) no-repeat center / 48px;
    opacity: 0.85;
}
.gallery-gray-box-gd{
    background: #838383;
    position: relative;
}
.gallery-white-box-gd{
    background: #DDDDDD;
    position: relative;
}   
.gallery-box-gd:hover::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:#31cdc9 url(../img/look-white.svg) no-repeat center / 48px;
    opacity: 0.85;
}
.button-more{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    color: #8E8E8E;
    padding-top: 25px;
    padding-bottom: 25px;
}
/* process */
.process-block{
    padding-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}
.player-box{
    background-color: #E9E9E9;
    width: 100%;
    padding-top: 222px;
    padding-bottom: 222px;
    display: flex;
    justify-content: center;
    background:url(../img/bg-player.jpg) no-repeat left;
}
.player-play{
    width: 85px;
    height: 85px;
    background: #10C9C3;
    border-radius: 50%;
    cursor: pointer;
}
.player-arrow{
    color: #fff;
    display: block;
    font-size: 20px;
    padding-top: 30px;
}
/* ability */
.ability{
    background-color: #F5F5F5;
}
.ability-block{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}
.ability-box{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    text-align: center;
    align-items: center;
    padding-right: 70px;
    padding-bottom: 40px;
}
.ability-img{
    width: 40px;
    height: 40px;
}
.ability-title{
    padding-top: 30px;
    padding-bottom: 20px;
    color: #191919;
    font-size:12px;
    text-transform: uppercase;
}
.ability-text{
    color: #787878;
    font-size: 16px;
}
/* slaider */

input[type=radio] {
    display: none;
}

.wrapper {
	height: 490px;
	margin: 0 auto 0;
	position: relative;
	width: 100%;
}

.controls{
    margin-top: -90px;
    z-index: 5;
}
.item__slider{
    padding-top: 180px;
    text-align: center;
}
.title__controls{
    font-family:'Montserrat-Medium';
    font-size: 30px;
    color: #FFFFFF;
    padding-bottom: 40px;
}
.text__controls{
    font-family:'Montserrat-Medium';
    font-size: 12px;
    color: #FFFFFF;
    line-height: 27px;
    padding-top: 40px;
    text-transform: uppercase;
}
.button__second{
    border: 1px solid #d5ef00;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
}
.button__second__text{
    color: #d5ef00;
}

.slider {
	background-color: #10C9C3;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}

.wrapper > input {
	display: none;
}

.slides {
	height: inherit;
	position: absolute;
	width: inherit;
}


.wrapper .controls {
    position: absolute;
    right: 47.2%;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
}

.wrapper label:after {
	border: 2px solid #ddd;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	border-radius: 50%;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
	transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: #ddd;
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}

/* client */
.client-block{
    padding-top: 65px;
    padding-bottom: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.client-link{
    opacity: 0.5;
}
/* request */
.request{
    background-color: #F5F5F5;
}
.request-block{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.form-request{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 40px;
}
.form-title{
    border:none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 170px;
}
.form-text{
    padding-right: 170px;
    padding-bottom: 100px;
    margin-bottom: 20px;
    border:none;
}
.form-info{
    padding-right: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:none;
}
::placeholder{
    padding-left: 15px;
    font-family:'NuitoSans-Regular';
    font-size: 15px;
    color: #787878;
}
/* footer */
.footer{
    background-color: #141414;
}
.footer-block{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}
.footer-info-box{
    display: flex;
    flex-direction: column;
}
.footer-contacts-box{
    display: flex;
    flex-direction: column;
}
.footer-nav{
    display: flex;
    flex-direction: column;
}
.footer-social{
    display: flex;
    flex-direction: column;
}
.footer-info-title{
    font-size: 18px;
    color: #FFFFFF;
    padding-bottom: 20px;
}
.footer-info-text{
    max-width: 230px;
}
.footer-text{
    color: #BCBCBC;
    font-size: 15px;
    padding-top: 5px;
}
.footer-nav-link:hover{
    color: #10C9C3;
}
/* 2 страница */
/* graphic */
.graphic-block{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* 3 страница */
/* on-me */
.on-me{
    background-color: #7E7E7E;
    background:url(../img/bg-on-me.png) no-repeat center / cover ;
    background-position: 0 0;
    position: relative;
}
.on-me::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:#000;
    opacity: 0.50;
}
.on-me-block{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 15;
    position: relative;
}
.on-me-block > .text-white {
    color: #fff;
}
.on-me-block > h1 {
    font-family:'Montserrat-Medium';
}
.on-me-block > p {
    font-family:'NuitoSans-Regular';
}
/* 4 страница */
.project-box{
    padding-top: 120px;
    padding-bottom: 120px;
}
.slider-poject{
    margin-bottom: 100px;
}
.project-info{
    padding-top: 10px;
    font-size: 18px;
    color: #787878;
}
.project-info-title{
    color: #000000;
}
.item-project-slider{
    padding-top: 0px;
    text-align: left;
}
.project-slider{
    margin-bottom: 80px;
    height: 690px;
}
.project-img{
    width: 100%;
    height: 100%;
}
.viewing-block{
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    display: none;
}
.viewing-text{
    font-size: 24px;
}
/* 5 страница */
.form-contact-box{
    background-color: #F8F9F9;
}
.contacts-block{
    align-items: center;
    background-color: #F8F9F9;
}
.map{
    background-color: #F5F5F5;
}
.map-block{
    padding-bottom: 80px;
}
.signature{
    width: 200px;
}
/* Адаптация */
@media(max-width:1200px){
    .header-block,.promo-block,.stats-block,.ability-block,.item__slider,.client-block,.footer-block{
        padding-left: 2%;
        padding-right: 2%;
    }
    .a-b-img{
        display: none;
    }
    .a-b-text{
        align-items: center;
    }
    .skills-block{
        flex-direction: column;
        text-align: center;
    }
    .skills-card{
        align-items: center;
    }
    .skills-box,.skills-img{
        width: 100%;
    }
    .promo{
        background-image:none;
    }
    .promo-block{
        justify-content: center;
    }
    .promo-text-box{
        align-items: center;
    }
    .project-box{
        align-items: center;
    }
    .project-img,.d-none{
        display: none;
    }
    .slider{
        background-color: #fff;
    }
    .form-contact{
        padding-left: 2%;
        padding-right: 2%;
    }
    .form-contact-box{
        padding-bottom: 50px;
    }
}
@media(max-width:992px){
    .ability-box{
        padding-right: 0;
    }
}
@media(max-width:768px){
    .header-block,.header-nav{
        flex-direction: column;
    }
    .header-nav-link:not(:last-child){
        margin-right: 0;
    }
    .header-nav-link{
        margin-top: 10px;
    }
    .controls{
        margin-top: -60px;
    }
    .footer-block{
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        padding-left: 50px;
    }
    .footer-nav-link{
        padding: 10px;
    }
    .form-request{
        padding-left: 2%;
    }
    .footer-info-box{
        padding-bottom: 20px;
    }
    .skills-box{
        padding-top: 0;
        padding-left: 0;
    }
    .stats-block{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .stats-box{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .slider-poject{
        margin-bottom: 0;
    }
    .controls{
        margin-top: -150px;
    }
}
@media(max-width:576px){
    .progress-line{
        width: 220px;
    }
    .promo-text-box{
        text-align: center;
    }
    .promo-block{
        padding-top: 0;
    }
    .viewing-block{
        display: flex;
        background-color: #e9e9e9;
    }
    .ability-block{
        flex-direction: column;
    }
    .client-block{
        flex-direction: column;
    }
    .client-link{
        padding-bottom: 25px;
    }
    .form-title{
        padding-right: 0;
    }
    .form-text{
        padding-right: 0;
    }
    .process-block{
        margin-bottom: 0;
    }
}